.keyWaysPart{
    width: 100%;
    background: chartreuse;
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
    &_content{
        width: 88.89%;
        height: 100%;
        &__titlePart{
            margin-left: 8.5%;
            p{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 130%;
                letter-spacing: -0.01em;
                font-feature-settings: 'cpsp' on;
                color: #262626;
            }
        }
        &__keys{
            width: 100%;
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
        }
    }
}
@media(max-width: 1020px){
    .keyWaysPart{
            &_content{
            &__titlePart{
                margin-left: 0;
            }
        }
    }
}

@media(max-width: 700px){
    .keyWaysPart{
            &_content{
            &__titlePart{
                p{
                    font-size: 28px;
                    line-height: 130%;
                }
            }
        }
    }
}