.BundleAndSave {
    width: 100%;
    height: 830px;
    // background: gold;
    display: flex;
    align-items: center;
    justify-content: center;

    &_content {
        width: 88.89%;
        height: 100%;
        // background: chocolate;

        &__titlePart {
            margin-left: 8.515%;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 130%;
            letter-spacing: -0.01em;
            font-feature-settings: 'cpsp'on;
            color: #262626;
        }
        &__sliderPart{
            margin-top: 40px;
        }
    }
}