.bundleAndSaveCard {
    // width: 31.95%;
    // height: 566px;
    margin-right: 27px;

    // background: cornflowerblue;
    &_imgPart {
        background: #E3F2F2;

        img {
            width: 93%;
            height: 96%;
        }
    }

    &_content {
        margin-top: 20px;

        &__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 190%;
            color: #262626;
        }

        &__company {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            color: #484C56;
        }

        &__prices {
            display: flex;
            align-items: flex-end;

            &--price {
                :nth-child(1) {
                    margin-top: 10px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 32px;
                    letter-spacing: -0.01em;
                    text-decoration-line: line-through;
                    font-feature-settings: 'cpsp'on;
                    color: #067D7B;
                }

                :nth-child(2) {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: -0.01em;
                    font-feature-settings: 'cpsp'on;
                    color: #262626;
                }
            }

            &--sale {
                width: 75px;
                height: 40px;
                background: #262626;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                border-radius: 43px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 200%;
                color: #FFFFFF;
            }
        }
    }
}

@media (max-width: 430px) {
    .bundleAndSaveCard {
        &_content {
            &__title {
                font-size: 18px;
                line-height: 150%;
            }

            &__company {
                font-size: 12px;
                line-height: 25px;
            }

            &__prices {
                &--price {
                    :nth-child(1) {
                        font-size: 18px;
                        line-height: 32px;
                    }

                    :nth-child(2) {
                        font-size: 18px;
                        line-height: 32px;
                    }
                }

                &--sale {
                    width: 68px
                }
            }
        }
    }
}