.hotelSettings{
    display: flex;
    .search, .user, .shopping-card{
        width: 54px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin-right: 20px;
    }
    .user{
        border: 1px solid #C5C7D3;
        border-radius: 2px;
        margin-right: 30px;
    }
    .price{
        width: 122px;
        height: 54px;
        background: #EDF7F7;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px 0px 0px 2px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #262626;
    }
    .shopping-card{
        background: #262626;
        border-radius: 0px 2px 2px 0px;
    }
    .burger_menu{
        visibility: hidden;
        .line{
            width: 40px;
            height: 4px;
            background-color: black;
            display: block;
            margin: 8px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
          }
        .burger_menu .is-active .line:nth-child(2){
            opacity: 0;
          }
          .burger_menu .is-active .line:nth-child(1){
            -webkit-transform: translateY(13px) rotate(45deg);
            -ms-transform: translateY(13px) rotate(45deg);
            -o-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
          }
          .burger_menu .is-active .line:nth-child(3){
            -webkit-transform: translateY(-13px) rotate(-45deg);
            -ms-transform: translateY(-13px) rotate(-45deg);
            -o-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
          }
    }
}
@media (max-width: 1190px){
    .burger_menu{
        visibility: visible;
    }
}