.popularProducts{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    &_content{
        width: 88.89%;
        height: 100%;
    }
}

@media(max-width: 830px){
    .popularProducts{
        margin-top: 80px;
    }
}