.popularProductsSlider {
    padding-bottom: 55px;
    position: relative;
    // overflow: hidden;

    .slick-track {
        display: flex;
    }

    .slick-slider {
        .slick-prev {
            width: 50px;
            height: 50px;
            left: 0;
            top: 35%;
            z-index: 5;

            &::before {
                content: '';
            }
        }

        .slick-next {
            width: 50px;
            height: 50px;
            right: 1.7%;
            top: 35%;
            z-index: 5;

            &::before {
                content: '';
            }
        }
    }

    .slick-dots {
        bottom: -45px;

        li {
            width: 41px;
            height: 5px;
            background: #F1F2F7;

            button {
                &::before {
                    content: ""
                }
            }
        }

        .slick-active {
            background: #067D7B;
        }
    }
}

@media(max-width: 780px) {
    .popularProductsSlider {
        .slick-slider {
            // .slick-prev {
            //     left: -25px;
            //     top: 35%;
            // }
            // .slick-next {
            //     right: 1.7%;
            //     top: 35%;
            // }
        }
    }
}