.popularProductsUpperPart{
    width: 82.96%;
    // height: 177px;
    // margin-left: auto;
    // margin-right: auto;
    // margin-bottom: 30px;
    margin: 0 auto 30px auto;
    h3{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: -0.01em;
        font-feature-settings: 'cpsp' on;
        color: #262626;
    }
    &_content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        &__subtitles{
            // position: relative;
            display: flex;
            :nth-child(1){
                background: #F1F2F7;
                border-radius: 2px;
            }
            &--foggyDiv{
                width: 95px;
                height: 50%;
                background: linear-gradient(90deg, #FFFFFF 60.67%, rgba(255, 255, 255, 0) 100%);
                // background: cyan;
                position: absolute;
                right: -28px;
                transform: rotate(-180deg);
            }
        }
        &__subTitle{
            padding: 8px 15px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 190%;
            text-align: center;
            color: #262626;
            border-radius: 2px 2px 0px 0px;
            cursor: pointer;
        }
        &__select{
            width: 191px;
            background: #F1F2F7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 2px;
            padding: 8px 15px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 190%;
            color: #262626;
            cursor: pointer;
        }
    }
}

@media (max-width: 1060px){
    .popularProductsUpperPart{
        width: 100%;
        &_content{
            &__subTitle{
                font-size: 16px;
                line-height: 200%;
            }
            &__select{
                width: 154px;
                font-size: 16px;
                line-height: 200%;
            }
        }
    }
}

@media (max-width: 740px){
    .popularProductsUpperPart{
        margin-bottom: 10px;
        &_content{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
            &__select{
                width: 427px;
                margin-top: 10px;
            }
        }
    }  
}

@media (max-width: 530px){
    .popularProductsUpperPart{
        margin-bottom: 10px;
        &_content{
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
            position: relative;
            &__select{
                width: 90%;
            }
            &__subtitles{
                width: 473px;
            }
        }
    }  
}