.card{
    width: 299px;
    height: 518px;
    &_imgPart{
        width: 100%;
        height: 344px;
    }
    h4{
        margin-top: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.01em;
        font-feature-settings: 'cpsp' on;
        color: #262626;
    }
    &_companyName{
        margin-top: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 200%;
        color: #484C56;
    }
    &_price{
        margin-top: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: -0.01em;
        font-feature-settings: 'cpsp' on;
        color: #262626;
    }
}

@media (max-width: 1020px){
    .card{
        width: 210px;
        height: 411px;
        &_imgPart{
            height: 205px;
            img{
                height: 100%;
                width: 100%;
            } 
        }
    }
}

@media (max-width: 740px){
    .card{
        width: 155px;
        height: 357px;
        &_imgPart{
            height: 150px;
            img{
                height: 100%;
                width: 100%;
            } 
        }
        h4{
            font-size: 18px;
        }
        &_companyName{
            font-size: 13px;
        }
        &_price{
            font-size: 20px 
        }
    }
}
