.buttonSecondary{
    padding: 16px 25px;
    background: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #067D7B;
    border: none;
    outline: none;
    cursor: pointer;
}
@media (max-width: 780px){
    .buttonSecondary{
        padding: 10px 25.57px;
        font-size: 16px;
        line-height: 19px;
    }
}