.button{
    background: #067D7B;
    padding: 17px 44px 17px 44px;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
}